{% extends 'community/base.html' %}

{% block content %}

        <div class="col-md-7 blogShort" style="margin-bottom: 100px">
            <h2>{{ community.name }}</h2>
            <p><img src="../../{{ community.community_photo }}" style="width:650px ; height:300px;"></p>
            <p>{{ community.desc|linebreaksbr }}</p>
            <div class="date">
                Body : {{ community }}
            </div>
            <p></p>

            <a href="{% url 'new_post' community.id %}" class="btn btn-default">Add Generic Post</a>
            <a href="{% url 'new_generic_post_type' community.id %}" class="btn btn-default">Create New Post Type</a>
            <a href="{% url 'manage_community' pk=community.pk %}" class="btn btn-default pull-right">Manage</a>


        </div>

        <style>
        /* Tooltip container */
        .tooltipz {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
          margin-right: 10px;
        }

        /* Tooltip text */
        .tooltipz .tooltiptextz {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;

          /* Position the tooltip text - see examples below! */
          position: absolute;
          z-index: 1;
        }
        .tooltipz .tooltiptextz {
          width: 120px;
          bottom: 100%;
          left: 50%;
          margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
        }
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltipz:hover .tooltiptextz {
          visibility: visible;
        }
        </style>


        {% if posts %}
            {% for posts in posts %}
                {% if posts.is_active %}
                <div class="col-md-7 blogShort" style="border: 2px solid #000; margin-bottom: 50px;">
                    <h1 style="text-decoration: underline">{{ posts.title }}</h1>
                    <p style="border: 1px solid #ccc; padding: 5px;">{{ posts.body }}</p>
                    <div style="border: 1px solid #ccc; padding: 5px;"><div style="margin-bottom: 10px;">Semantic Tag : {% for posi in posts.semantic_tag %}
                        <div class="tooltipz">{{ posi.label }}<span class="tooltiptextz"><a href="{{ posi.concepturi }}" target="_blank" style="color:#fff;">{{ posi.id }}</a></span></div>
                    {% endfor %}</div>
                    <p>Creator : {{ posts.owner }}</p>
                    <p>Publish Date : {{ posts.publish_date }}</p>
                    <a class="btn btn-default pull-right" style="margin: 10px;" href="{% url 'post_detail' pk=posts.pk %}">READ MORE</a>
                </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}





{% endblock %}