<!DOCTYPE html>
<html>

<head>
    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load static %}
    <script src="{% static 'community/js/field_type.js' %}"></script>
</head>

<body style="width: 1000px">

    <h1> Create a new post type for {{ community.name }}</h1>
    {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}


    <form action="{% url 'community:create_data_type' community.id %}" id="edit_data_type_form" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="InputDataTypeName">Post Type Name</label>
            <input type="text" class="form-control" id="InputDataTypeName" aria-describedby="dataTypeName"
                placeholder="Enter post type name" name="title">
        </div>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Create Post Type</button>
            <button class="btn btn-danger" type="submit" name="cancel" value="cancel"
                style="margin-left: 10px;">Cancel</button>
        </div>
        <br /><br /><br /><br /><br /><br />
        <h5>Your Post Type must contain at least one custom field.</h5>
        {% if error_message_fields %}<p style="color: red"><strong>{{ error_message_fields }}</strong></p>{% endif %}
        <br />
        <div id="fields" style="width: 1000px"></div>
        <div id="hiddenInputs" style="width: 1000px"></div>
    </form>

    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" onclick="fields();">Add Field</button>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!--Load Bootstrap JavaScript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            field = 0;
            option = 0;
        });
    </script>
</body>

</html>